<footer class="text-center">&copy 2019 <a href="https://fapcoin.cc">Fap Faucet</a> | Made With Simple NodeJs Faucet
    Script</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://kit.fontawesome.com/85480c3f0d.js" crossorigin="anonymous"></script>
</body>

</html>