<footer class="text-center">&copy 2019 <a href="https://fapcoin.cc">Fap Faucet</a> | Made With Simple NodeJs Faucet
	Script</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://kit.fontawesome.com/85480c3f0d.js" crossorigin="anonymous"></script>
<script type="text/javascript">
	$('#<%=settings.faucet_currency%>').attr('selected', 'true');


	$('.edit').click(function () {
		var id = $(this).children('.id').text();
		var color = $(this).children('.color').text();
		var text = $(this).children('.text').text();
		var value = $(this).children('.value').text();
		console.assert(id, color, text, value)
		$('#_id').val(id);
		$('#color').val(color);
		$('#text').val(text);
		$('#value').val(value);
	});
	$("a[href='<?=current_url()?>']").parent().addClass('active');
</script>
</body>

</html>