<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= settings.faucet_name %></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><%= settings.faucet_name %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav mr-auto"></ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">ADMIN PANEL</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/stats">Stat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/overview">Overview</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/security">Security</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/ads">Advertisment <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/reward">Reward</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/link">Short Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/logout">Logout</a>
				</li>
			</ul>
        </div>
    </nav>